*{
    padding: 0;
    margin: 0;
}

html {
    background-color: rgb(71, 68, 68);
    scroll-behavior: smooth;
}

        
::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: #1f242d;
}

::-webkit-scrollbar-thumb {
    background: #6b4591;
}


.d {
    position: fixed;
    width: 100%;
    height: 7px;
    background: #6b4591;
    z-index: 1000;
    border-radius: 8pc;
    top: 0;
    animation: tt linear;
    animation-timeline: scroll();
    scale: 0 1;
    transform-origin: left;
}

@keyframes tt {
    to {
        scale: 1 1;
    }
}
.head{
    width: 100%;
    height: 70px;
    position: absolute;
    opacity: 0;
    animation: link .8s ease-in-out forwards;
}

@keyframes link {
    0% {
        transform: translateY(-10px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

.link{
    width: 90%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;

    justify-content: space-between;
}

.link .logo{
    font-weight: 600;
    letter-spacing: 1px;
    color: white;
}
.link .logo span{
    color: #f9004d;
}
.link .links{
    position: relative;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.link .links a{
    transition: all ease .5s;
    font-weight: 600;
    color: white;
    font-size: 1.3em;
    text-decoration: none;
    
}
.links a:hover {
    color: #f9004d;
}

.link .btn-f{
    position: relative;
    width: 10%;
    height: 40px;
    box-shadow: 0 0 1em rgb(232, 232, 235);
    border-radius: 20px;
    border: 2px solid transparent;
    background: #f9004d;
    cursor: pointer;
    transition: transform .5s ease;
    font-weight: 600;
    color: white;
}

.btn-f:hover {
    transform: scale(1.1);
}

.home {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 99%;
    height: 99vh;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(3, 3, 31, 0.799);
    border-radius: 10px;
    
}



.resume {
    font-family: 'Varela Round', sans-serif;
    color: white;
}

.resume h3 {
    font-size: 25px;
    font-weight: 700;
    margin: 0px;
    opacity: 0;
    animation: h3 .7s ease-in-out forwards;
    animation-delay: .4s;
}

@keyframes h3 {
    0% {
        transform: translateY(-30px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

.resume h3 span {
    color: #f9004d;
}

.resume p {
    margin-top: 30px;
    opacity: 0;
    animation: p .8s ease-in-out forwards;
    animation-delay: .7s;
}

@keyframes p {
    0% {
        transform: translateY(25px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

.resume h1 {
    font-size: 40px;
    font-weight: 700;
    margin: 5px 0px;
    opacity: 0;
    animation: h1 .8s ease-in-out forwards;
    animation-delay: .6s;
}

@keyframes h1 {
    0% {
        transform: translateX(-30px);
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

.content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    border-radius: 10px;
    margin-top: 40px;
    
    
}
.content .img {
    width: 400px;
    height: 400px;
    object-fit: cover;
    object-position: top;
    border-radius: 50%;
    background-color: rgba(3, 3, 31, 0.799);
    opacity: 0;
    animation: img .8s ease-in-out forwards;
    animation-delay: .6s;
}

@keyframes img {
    0% {
        transform: translateX(40px);
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

.bas {
    position: absolute;
    top: 100px;
    right: 10px;
    font-weight: 600;
    font-size: 3.3em;
    color: white;
    opacity: 0;
    animation: bas 3s ease-in-out forwards infinite;
    animation-delay: .9s;
    transition: color .8s;
}

@keyframes bas {
    50% {
        opacity: 1;
        transform: translateY(40px);
    }
    100% {
        transform: translateX(0px);
    }
}

.bas:hover {
    color: #f7296a;
}


.icon {
    margin-top: 15px;
    font-weight: 700;
    font-size: 2em;
    cursor: pointer;
    margin-left: 20px;
    color: white;
    opacity: 0;
    animation: ion-icon .9s ease-in-out forwards;
    animation-delay: .9s;
    transition: color .8s;
}

.icon:hover {
    color: #f7296a;
}

@keyframes ion-icon {
    0% {
        transform: translateX(25px);
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

.About{
    width: 99%;
    border-radius: 10px;
    background-color: #6b4591;
    
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;    
}

.About h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Varela Round', sans-serif;
    font-size: 1.5em;
    font-weight: 600;
}

.About h1 a {
    color: white;
    text-decoration: none;
}

.description {
    
    display: flex;
    
    justify-content: center;
    gap: 20px;
}

.Pro {
    width: 33%;
    margin: 1%;
    text-align: justify;
    background-color: rgba(3, 3, 31, 0.799);
    height: 350px;
    margin-top: 20px;
    border-radius: 50px;
}

.Pro h5 {
    font-family: 'Varela Round', sans-serif;
    font-size: 1.5em;
    font-weight: 600;
    color: white;
    text-align: center;
    margin: 50px 0px 40px;
}

.Pro p {
    color: white;
    font-family: 'Varela Round', sans-serif;
    word-spacing: 0px;
    font-weight: 400;
    font-size: 1em;
    margin-left: 20px;
    margin-right: 20px;
}



/* Responsive Styles */
@media (max-width: 1200px) {
    .link .links {
        width: 50%;
    }
    .content {
        flex-direction: column;
        align-items: center;
    }
    .content .img {
        width: 300px;
        height: 300px;
    }
  
    .Pro {
        width: 48%;
       
    }
}

@media (max-width: 768px) {
    .link .links {
        
    }
    .link .btn-f {
        width: 20%;
    }
    .content {
        width: 100%;
        
    }
    .description {
        flex-direction: column;
        align-items: center;
        margin: 5%;
        height: auto;
    }
    .Pro {
        width: 100%;
        margin: 10px 0;
    }
    .resume h1 {
        font-size: 2em;
    }
    .resume h3 {
        font-size: 1.5em;
    }
    .resume p {
        font-size: 1em;
    }
}

@media (max-width: 480px) {
    .link .logo {
        font-size: 1.2em;
    }
    .link .links{
        display: none;
    }
    .link .btn-f {
        width: 30%;
    }
    .bas{
        top: -7%;
    }
    .content{
        position: relative;
        top: -3%;
        padding: 10px;
        
    }
    .resume h1 {
        font-size: 1.5em;
    }
    .resume h3 {
        font-size: 1.2em;
    }
    .resume p {
        font-size: 0.9em;
    }
    .content .img {
        margin-top: 10%;
        width: 300px;
        height: 300px;
    }
    .description {
        flex-direction: column;
        align-items: center;
        margin: 5%;
        height: auto;
    }
    .Pro {
        width: 100%;
        margin: 10px 0;
    }
}

    