html {
    background-color: rgb(71, 68, 68);
    scroll-behavior: smooth;
}

.d {
    position: fixed;
    width: 100%;
    height: 7px;
    background: #6b4591;
    z-index: 1000;
    border-radius: 8pc;
    top: 0;
    animation: tt linear;
    animation-timeline: scroll();
    scale: 0 1;
    transform-origin: left;
}

@keyframes tt {
    to {
        scale: 1 1;
    }
}

/* scrollbar */

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: #1f242d;
}

::-webkit-scrollbar-thumb {
    background: #6b4591;
}

/* Premier block */
.content {
    background-color: rgba(3, 3, 31, 0.799);
    width: 100%;
    border-radius: 10px;
    height: 600px;
}

img {
    width: 40%;
    border-radius: 10px;
    background-color: rgba(3, 3, 31, 0.799);
    opacity: 0;
    animation: img .8s ease-in-out forwards;
    animation-delay: .6s;
}

@keyframes img {
    0% {
        transform: translateX(40px);
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

/* entête de la page */
.link {
    
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    background-color: #6b4591;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    opacity: 0;
    animation: link .8s ease-in-out forwards;
}

@keyframes link {
    0% {
        transform: translateY(-10px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

.logo {
    
    font-family: 'Varela Round', sans-serif;
    font-size: 1.5em;
    font-weight: 600;
    color: white;
    letter-spacing: 1px;
}

.logo span {
    color: #f9004d;
}

/* liens de l'entête */
.links {
    background-color: #6b4591;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.links a {
    font-family: 'Varela Round', sans-serif;
    font-size: 1.1em;
    font-weight: 600;
    text-decoration: none;
    color: white;
    transition: color .5s;
}

.links a:hover {
    color: #f9004d;
}

/* bouton folow */
.btn-flow {
    width: 140px;
    height: 40px;
    box-shadow: -3px 4px 4px rgb(122, 128, 197);
    
    border-radius: 20px;
    border: 2px solid transparent;
    background: #f9004d;
    cursor: pointer;
    transition: transform .4s;
}

.btn-flow a {
    font-weight: bold;
    font-size: 1.1em;
    text-decoration: none;
    color: white;
}

.btn-flow:hover {
    transform: scale(1.1);
}

/* présentation de la page */
.home {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 90px;
}

.resume {
    color: white;
    font-family: 'Varela Round', sans-serif;
}

.resume h3 {
    font-size: 25px;
    font-weight: 700;
    margin: 0px;
    opacity: 0;
    animation: h3 .7s ease-in-out forwards;
    animation-delay: .4s;
}

@keyframes h3 {
    0% {
        transform: translateY(-30px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

.resume h3 span {
    color: #f9004d;
}

.resume p {
    margin-top: 30px;
    opacity: 0;
    animation: p .8s ease-in-out forwards;
    animation-delay: .7s;
}

@keyframes p {
    0% {
        transform: translateY(25px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

.resume h1 {
    font-size: 40px;
    font-weight: 700;
    margin: 5px 0px;
    opacity: 0;
    animation: h1 .8s ease-in-out forwards;
    animation-delay: .6s;
}

@keyframes h1 {
    0% {
        transform: translateX(-30px);
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

/* icons and animation */

.icon {
    margin-top: 10px;
    font-weight: 700;
    font-size: 2em;
    cursor: pointer;
    margin-left: 20px;
    color: white;
    opacity: 0;
    animation: ion-icon .9s ease-in-out forwards;
    animation-delay: .9s;
    transition: color .8s;
}

.icon:hover {
    color: #f7296a;
}

@keyframes ion-icon {
    0% {
        transform: translateX(25px);
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

section {
    margin-top: 30px;
}

/* section about */

.About {
    border-radius: 10px;
    background-color: #6b4591;
    height: 450px;
    width: 100%;
}

.About h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Varela Round', sans-serif;
    font-size: 1.5em;
    font-weight: 600;
}

.About h1 a {
    color: white;
    text-decoration: none;
}

.description {
    display: flex;
    align-items: center;
}

.Pro {
    
    width: 33%;
    margin: 1%;
    text-align: justify;
    background-color: rgba(3, 3, 31, 0.799);
    height: 350px;
    margin-top: 20px;
    border-radius: 50px;
}

.Pro h5 {
    font-family: 'Varela Round', sans-serif;
    font-size: 1.5em;
    font-weight: 600;
    color: white;
    text-align: center;
    margin: 50px 0px 40px;
}

.Pro p {
    color: white;
    font-family: 'Varela Round', sans-serif;
    word-spacing: 0px;
    font-weight: 400;
    font-size: 1em;
    margin-left: 20px;
    margin-right: 20px;
}

.creation {
    background-color: rgba(3, 3, 31, 0.799);
    border-radius: 10px;
    width: 100%;
}

.creation h1 {
    font-family: 'Varela Round', sans-serif;
    font-size: 1.5em;
    font-weight: 600;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.creation a {
    text-decoration: none;
}

iframe {
    width: 70%;
    object-fit: cover;
    height: 550px;
    margin: 20px;
    border-radius: 10px;
}

.btn-up {
    font-weight: 600;
    font-size: 3.3em;
    position: absolute;
    right: 0;
    bottom: 1px;
    color: white;
    animation: btn-up 3s ease-in-out forwards infinite;
    animation-delay: .9s;
    transition: color .8s;
}

@keyframes btn-up {
    50% {
        transform: translateY(-40px);
    }
    100% {
        transform: translateX(0px);
    }
}

.btn-up:hover {
    color: #f7296a;
}

.bas {
    position: absolute;
    top: 0;
    right: 0;
    font-weight: 600;
    font-size: 3.3em;
    color: white;
    opacity: 0;
    animation: bas 3s ease-in-out forwards infinite;
    animation-delay: .9s;
    transition: color .8s;
}

@keyframes bas {
    50% {
        opacity: 1;
        transform: translateY(40px);
    }
    100% {
        transform: translateX(0px);
    }
}

.bas:hover {
    color: #f7296a;
}

.collect {
    position: relative;
    transform: translateY(50px);
    opacity: 0;
    transition: 1s all ease;
}

.collect.active {
    transform: translateY(0px);
    opacity: 1;
}
